<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>506685527175-qbn3qotokibokr3nb1ght1kgq1rqv0fd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.506685527175-qbn3qotokibokr3nb1ght1kgq1rqv0fd</string>
	<key>API_KEY</key>
	<string>AIzaSyD3yaYex8b06iFdzky9DRwoc82cDqSA-hM</string>
	<key>GCM_SENDER_ID</key>
	<string>506685527175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yu.to.HappySNS</string>
	<key>PROJECT_ID</key>
	<string>happysns-82a1b</string>
	<key>STORAGE_BUCKET</key>
	<string>happysns-82a1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506685527175:ios:f56b67727de7269a701422</string>
	<key>DATABASE_URL</key>
	<string>https://happysns-82a1b.firebaseio.com</string>
</dict>
</plist>